<a href="https://colab.research.google.com/github/ritesh-chafer/Coronavirus_Enrichment/blob/master/Coronavirus_Dataset_Enrichment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
!ls '/content/drive/My Drive/Colab_Notebooks/twitter.properties'

'/content/drive/My Drive/Colab_Notebooks/twitter.properties'

In [3]:
!pip3 install ConfigParser

Collecting ConfigParser
  Downloading configparser-5.2.0-py3-none-any.whl (19 kB)
Installing collected packages: ConfigParser
Successfully installed ConfigParser-5.2.0

In [4]:
import configparser
config = configparser.RawConfigParser()
config.read('//content//drive//My Drive//Colab_Notebooks//twitter.properties')
print(config.sections())

['twitter']

In [5]:
import pandas as pd
import numpy as np
import os
import tweepy as tw

In [6]:
access_token=config.get('twitter', 'accesstoken')
access_tokensecret=config.get('twitter', 'accesstokensecret')
api_key=config.get('twitter', 'apikey')
api_secretkey=config.get('twitter', 'apisecretkey')
map_api_key = config.get('twitter', 'googleapikey')

In [7]:
import pandas as pd

In [8]:
corona_confirmed_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')

In [9]:
corona_confirmed_df.head()

  Province/State Country/Region       Lat  ...  2/18/22  2/19/22  2/20/22
0            NaN    Afghanistan  33.93911  ...   171857   171931   172205
1            NaN        Albania  41.15330  ...   269601   269904   270164
2            NaN        Algeria  28.03390  ...   263685   263936   264054
3            NaN        Andorra  42.50630  ...    37589    37589    37589
4            NaN         Angola -11.20270  ...    98605    98617    98638

[5 rows x 765 columns]

In [10]:
corona_death_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')

In [11]:
corona_death_df.head(5)

  Province/State Country/Region       Lat  ...  2/18/22  2/19/22  2/20/22
0            NaN    Afghanistan  33.93911  ...     7526     7534     7539
1            NaN        Albania  41.15330  ...     3432     3433     3438
2            NaN        Algeria  28.03390  ...     6780     6787     6797
3            NaN        Andorra  42.50630  ...      150      150      150
4            NaN         Angola -11.20270  ...     1899     1899     1899

[5 rows x 765 columns]

In [12]:
corona_recovered_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')

In [13]:
corona_recovered_df.head()

  Province/State Country/Region       Lat  ...  2/18/22  2/19/22  2/20/22
0            NaN    Afghanistan  33.93911  ...        0        0        0
1            NaN        Albania  41.15330  ...        0        0        0
2            NaN        Algeria  28.03390  ...        0        0        0
3            NaN        Andorra  42.50630  ...        0        0        0
4            NaN         Angola -11.20270  ...        0        0        0

[5 rows x 765 columns]

In [14]:
corona_confirmed_df = corona_confirmed_df.melt(id_vars=['Province/State','Country/Region','Lat','Long'])

In [15]:
corona_confirmed_df.head()

  Province/State Country/Region       Lat       Long variable  value
0            NaN    Afghanistan  33.93911  67.709953  1/22/20      0
1            NaN        Albania  41.15330  20.168300  1/22/20      0
2            NaN        Algeria  28.03390   1.659600  1/22/20      0
3            NaN        Andorra  42.50630   1.521800  1/22/20      0
4            NaN         Angola -11.20270  17.873900  1/22/20      0

In [16]:
corona_confirmed_df = corona_confirmed_df.rename({'variable':'Date','value':'Confirmed'},axis = 'columns')

In [17]:
corona_confirmed_df.head()

  Province/State Country/Region       Lat       Long     Date  Confirmed
0            NaN    Afghanistan  33.93911  67.709953  1/22/20          0
1            NaN        Albania  41.15330  20.168300  1/22/20          0
2            NaN        Algeria  28.03390   1.659600  1/22/20          0
3            NaN        Andorra  42.50630   1.521800  1/22/20          0
4            NaN         Angola -11.20270  17.873900  1/22/20          0

In [18]:
corona_death_df = corona_death_df.melt(id_vars=['Province/State','Country/Region','Lat','Long'])

In [19]:
corona_death_df = corona_death_df.rename({'variable':'Date','value':'Death'},axis = 'columns')

In [20]:
corona_death_df.head()

  Province/State Country/Region       Lat       Long     Date  Death
0            NaN    Afghanistan  33.93911  67.709953  1/22/20      0
1            NaN        Albania  41.15330  20.168300  1/22/20      0
2            NaN        Algeria  28.03390   1.659600  1/22/20      0
3            NaN        Andorra  42.50630   1.521800  1/22/20      0
4            NaN         Angola -11.20270  17.873900  1/22/20      0

In [21]:
corona_recovered_df = corona_recovered_df.melt(id_vars=['Province/State','Country/Region','Lat','Long'])

In [22]:
corona_recovered_df = corona_recovered_df.rename({'variable':'Date','value':'Recovered'},axis = 'columns')

In [23]:
corona_recovered_df.head()

  Province/State Country/Region       Lat       Long     Date  Recovered
0            NaN    Afghanistan  33.93911  67.709953  1/22/20          0
1            NaN        Albania  41.15330  20.168300  1/22/20          0
2            NaN        Algeria  28.03390   1.659600  1/22/20          0
3            NaN        Andorra  42.50630   1.521800  1/22/20          0
4            NaN         Angola -11.20270  17.873900  1/22/20          0

In [24]:
combined_df = [corona_confirmed_df, corona_death_df, corona_recovered_df]
combined_df = [df.set_index(['Province/State','Country/Region','Lat','Long','Date']) for df in combined_df]
combined_df = combined_df[0].join(combined_df[1:])

In [25]:
combined_df.head(20)

                                                                                 Confirmed  ...  Recovered
Province/State               Country/Region      Lat        Long        Date                ...
NaN                          Afghanistan          33.939110  67.709953  1/22/20        0.0  ...        0.0
                             Albania              41.153300  20.168300  1/22/20        0.0  ...        0.0
                             Algeria              28.033900  1.659600   1/22/20        0.0  ...        0.0
                             Andorra              42.506300  1.521800   1/22/20        0.0  ...        0.0
                             Angola              -11.202700  17.873900  1/22/20        0.0  ...        0.0
                             Antarctica          -71.949900  23.347000  1/22/20        0.0  ...        0.0
                             Antigua and Barbuda  17.060800 -61.796400  1/22/20        0.0  ...        0.0
                             Argentina           -38.416100 -63.616700  1/22/20        0.0  ...        0.0
                             Armenia              40.069100  45.038200  1/22/20        0.0  ...        0.0
Australian Capital Territory Australia           -35.473500  149.012400 1/22/20        0.0  ...        0.0
New South Wales              Australia           -33.868800  151.209300 1/22/20        0.0  ...        0.0
Northern Territory           Australia           -12.463400  130.845600 1/22/20        0.0  ...        0.0
Queensland                   Australia           -27.469800  153.025100 1/22/20        0.0  ...        0.0
South Australia              Australia           -34.928500  138.600700 1/22/20        0.0  ...        0.0
Tasmania                     Australia           -42.882100  147.327200 1/22/20        0.0  ...        0.0
Victoria                     Australia           -37.813600  144.963100 1/22/20        0.0  ...        0.0
Western Australia            Australia           -31.950500  115.860500 1/22/20        0.0  ...        0.0
NaN                          Austria              47.516200  14.550100  1/22/20        0.0  ...        0.0
                             Azerbaijan           40.143100  47.576900  1/22/20        0.0  ...        0.0
                             Bahamas              25.025885 -78.035889  1/22/20        0.0  ...        0.0

[20 rows x 3 columns]

In [26]:
combined_df = combined_df.reset_index()

In [27]:
combined_df.head()

  Province/State Country/Region       Lat  ...  Confirmed Death  Recovered
0            NaN    Afghanistan  33.93911  ...        0.0   0.0        0.0
1            NaN        Albania  41.15330  ...        0.0   0.0        0.0
2            NaN        Algeria  28.03390  ...        0.0   0.0        0.0
3            NaN        Andorra  42.50630  ...        0.0   0.0        0.0
4            NaN         Angola -11.20270  ...        0.0   0.0        0.0

[5 rows x 8 columns]

In [28]:
combined_df[['Lat','Long','Confirmed','Death','Recovered']] = combined_df[['Lat','Long','Confirmed','Death','Recovered']].apply(pd.to_numeric)

In [29]:
combined_df[['Date']] = combined_df[['Date']].apply(pd.to_datetime)

In [30]:
combined_df.dtypes

Province/State            object
Country/Region            object
Lat                      float64
Long                     float64
Date              datetime64[ns]
Confirmed                float64
Death                    float64
Recovered                float64
dtype: object

In [31]:
# combined_df.Lat = combined_df.Lat.astype(int)
# combined_df.Long = combined_df.Long.astype(int)
combined_df.Confirmed = combined_df.Confirmed.astype(int)
combined_df.Death = combined_df.Death.astype(int)
combined_df.Recovered = combined_df.Recovered.fillna(0.0).astype(int)

In [32]:
combined_df.dtypes

Province/State            object
Country/Region            object
Lat                      float64
Long                     float64
Date              datetime64[ns]
Confirmed                  int64
Death                      int64
Recovered                  int64
dtype: object

In [33]:
combined_df.head()

  Province/State Country/Region       Lat  ...  Confirmed Death  Recovered
0            NaN    Afghanistan  33.93911  ...          0     0          0
1            NaN        Albania  41.15330  ...          0     0          0
2            NaN        Algeria  28.03390  ...          0     0          0
3            NaN        Andorra  42.50630  ...          0     0          0
4            NaN         Angola -11.20270  ...          0     0          0

[5 rows x 8 columns]

In [34]:
combined_df = combined_df.rename({'Province/State':'State','Country/Region':'Country'},axis = 'columns')

In [35]:
combined_df.head(5000)

     State        Country        Lat  ...  Confirmed Death  Recovered
0      NaN    Afghanistan  33.939110  ...          0     0          0
1      NaN        Albania  41.153300  ...          0     0          0
2      NaN        Algeria  28.033900  ...          0     0          0
3      NaN        Andorra  42.506300  ...          0     0          0
4      NaN         Angola -11.202700  ...          0     0          0
...    ...            ...        ...  ...        ...   ...        ...
4995   NaN        Lebanon  33.854700  ...          0     0          0
4996   NaN        Lesotho -29.610000  ...          0     0          0
4997   NaN        Liberia   6.428055  ...          0     0          0
4998   NaN          Libya  26.335100  ...          0     0          0
4999   NaN  Liechtenstein  47.140000  ...          0     0          0

[5000 rows x 8 columns]

In [36]:
combined_df.isnull().any()

State         True
Country      False
Lat           True
Long          True
Date         False
Confirmed    False
Death        False
Recovered    False
dtype: bool

In [37]:
combined_df.dropna(subset=['Lat', 'Long'], inplace= True)

In [38]:
combined_df.isnull().any()

State         True
Country      False
Lat          False
Long         False
Date         False
Confirmed    False
Death        False
Recovered    False
dtype: bool

In [39]:
combined_df.count()

State         66207
Country      214602
Lat          214602
Long         214602
Date         214602
Confirmed    214602
Death        214602
Recovered    214602
dtype: int64

In [40]:
combined_df.set_index('Country').filter(like="India",axis=0)

        State        Lat      Long       Date  Confirmed   Death  Recovered
Country
India     NaN  20.593684  78.96288 2020-01-22          0       0          0
India     NaN  20.593684  78.96288 2020-01-23          0       0          0
India     NaN  20.593684  78.96288 2020-01-24          0       0          0
India     NaN  20.593684  78.96288 2020-01-25          0       0          0
India     NaN  20.593684  78.96288 2020-01-26          0       0          0
...       ...        ...       ...        ...        ...     ...        ...
India     NaN  20.593684  78.96288 2022-02-16   42754315  510413          0
India     NaN  20.593684  78.96288 2022-02-17   42780235  510905          0
India     NaN  20.593684  78.96288 2022-02-18   42802505  511230          0
India     NaN  20.593684  78.96288 2022-02-19   42822473  511903          0
India     NaN  20.593684  78.96288 2022-02-20   42838524  512109          0

[761 rows x 7 columns]

In [41]:
combined_df[combined_df.State.isnull()]['Country'].value_counts()

Afghanistan                         761
Saint Vincent and the Grenadines    761
New Zealand                         761
Nicaragua                           761
Niger                               761
                                   ...
Grenada                             761
Guatemala                           761
Guinea                              761
Guinea-Bissau                       761
Zimbabwe                            761
Name: Country, Length: 195, dtype: int64

In [42]:
% pip install opencage

Collecting opencage
  Downloading opencage-2.0.0-py3-none-any.whl (13 kB)
Collecting pyopenssl>=0.15.1
  Downloading pyOpenSSL-22.0.0-py2.py3-none-any.whl (55 kB)
     |████████████████████████████████| 55 kB 2.0 MB/s
Requirement already satisfied: Requests>=2.2.0 in /usr/local/lib/python3.7/dist-packages (from opencage) (2.23.0)
Collecting backoff>=1.10.0
  Downloading backoff-1.11.1-py2.py3-none-any.whl (13 kB)
Collecting cryptography>=35.0
  Downloading cryptography-36.0.1-cp36-abi3-manylinux_2_24_x86_64.whl (3.6 MB)
     |████████████████████████████████| 3.6 MB 14.2 MB/s
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography>=35.0->pyopenssl>=0.15.1->opencage) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography>=35.0->pyopenssl>=0.15.1->opencage) (2.21)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from Requests>=2.2.0->opencage) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from Requests>=2.2.0->opencage) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from Requests>=2.2.0->opencage) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from Requests>=2.2.0->opencage) (3.0.4)
Installing collected packages: cryptography, pyopenssl, backoff, opencage
Successfully installed backoff-1.11.1 cryptography-36.0.1 opencage-2.0.0 pyopenssl-22.0.0

In [43]:
from opencage.geocoder import OpenCageGeocode
from pprint import pprint

In [44]:
geocoder = OpenCageGeocode(map_api_key)

In [45]:
results = geocoder.reverse_geocode(28.033900,	1.659600)
print(results)
print(results[0]['formatted'])
print(results[0]['formatted'].split(",")[-2].strip(" "))

[{'annotations': {'DMS': {'lat': "27° 1' 17.24844'' N", 'lng': "1° 0' 50.71572'' E"}, 'MGRS': '31RCK0298190363', 'Maidenhead': 'JL07ma15qd', 'Mercator': {'x': 112887.726, 'y': 3106745.359}, 'OSM': {'edit_url': 'https://www.openstreetmap.org/edit?relation=4171628#map=17/27.02146/1.01409', 'note_url': 'https://www.openstreetmap.org/note/new#map=17/27.02146/1.01409&layers=N', 'url': 'https://www.openstreetmap.org/?mlat=27.02146&mlon=1.01409#map=17/27.02146/1.01409'}, 'UN_M49': {'regions': {'AFRICA': '002', 'DZ': '012', 'NORTHERN_AFRICA': '015', 'WORLD': '001'}, 'statistical_groupings': ['LEDC']}, 'callingcode': 213, 'currency': {'alternate_symbols': ['DA'], 'decimal_mark': '.', 'format': '%n %u', 'html_entity': '', 'iso_code': 'DZD', 'iso_numeric': '012', 'name': 'Algerian Dinar', 'smallest_denomination': 100, 'subunit': 'Centime', 'subunit_to_unit': 100, 'symbol': 'د.ج', 'symbol_first': 0, 'thousands_separator': ','}, 'flag': '🇩🇿', 'geohash': 'shb9xp47muydgn9nqs3s', 'qibla': 90.41, 'roadinfo': {'drive_on': 'right', 'speed_in': 'km/h'}, 'sun': {'rise': {'apparent': 1645424880, 'astronomical': 1645420260, 'civil': 1645423500, 'nautical': 1645421880}, 'set': {'apparent': 1645465860, 'astronomical': 1645470480, 'civil': 1645467240, 'nautical': 1645468920}}, 'timezone': {'name': 'Africa/Algiers', 'now_in_dst': 0, 'offset_sec': 3600, 'offset_string': '+0100', 'short_name': 'CET'}, 'what3words': {'words': 'reconnect.glazing.replicate'}, 'wikidata': 'Q2704101'}, 'bounds': {'northeast': {'lat': 28.574722, 'lng': 2.0013061}, 'southwest': {'lat': 26.922943, 'lng': 0.241387}}, 'components': {'ISO_3166-1_alpha-2': 'DZ', 'ISO_3166-1_alpha-3': 'DZA', '_category': 'place', '_type': 'village', 'continent': 'Africa', 'country': 'Algeria', 'country_code': 'dz', 'region': 'Aoulef District', 'state': 'Adrar', 'village': 'Timokten'}, 'confidence': 1, 'formatted': 'Timokten, Adrar, Algeria', 'geometry': {'lat': 27.0214579, 'lng': 1.0140877}}]
Timokten, Adrar, Algeria
Adrar

In [46]:
import re
english_check = re.compile(r'[a-z]')

def get_state(lati,longi):
  try:
    output = geocoder.reverse_geocode((lati,longi))[0]['formatted'].split(",")[-2].strip(" ")
    # if(len(output.split(" ")) > 1):
    #   output = "TBF"
    
    if not english_check.match(output.lower()):
      output = "TBF"

  except:
    print("Error in Reverse Geocoding")
    output = "TBF"
  return output

In [47]:
combined_df['state_cleaned'] = combined_df[combined_df.State.isnull()][['Lat','Long']].apply(lambda x: get_state(x['Lat'],x['Long']),axis=1)

Streaming output truncated to the last 5000 lines.
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding

In [48]:
combined_df[combined_df.state_cleaned.isnull()]['Country'].value_counts()

China             25113
Canada            11415
United Kingdom     9893
France             8371
Australia          6088
Netherlands        3044
Denmark            1522
New Zealand         761
Name: Country, dtype: int64

In [49]:
combined_int_df = combined_df.copy()

In [50]:
combined_df[combined_df.state_cleaned.notna()]

       State               Country        Lat  ...  Death Recovered  state_cleaned
0        NaN           Afghanistan  33.939110  ...      0         0            TBF
1        NaN               Albania  41.153300  ...      0         0            TBF
2        NaN               Algeria  28.033900  ...      0         0            TBF
3        NaN               Andorra  42.506300  ...      0         0            TBF
4        NaN                Angola -11.202700  ...      0         0            TBF
...      ...                   ...        ...  ...    ...       ...            ...
216119   NaN    West Bank and Gaza  31.952200  ...   5357         0            TBF
216120   NaN  Winter Olympics 2022  39.904200  ...      0         0            TBF
216121   NaN                 Yemen  15.552727  ...   2122         0            TBF
216122   NaN                Zambia -13.133897  ...   3943         0            TBF
216123   NaN              Zimbabwe -19.015438  ...   5386         0            TBF

[148395 rows x 9 columns]

In [51]:
combined_int_df.count()

State             66207
Country          214602
Lat              214602
Long             214602
Date             214602
Confirmed        214602
Death            214602
Recovered        214602
state_cleaned    148395
dtype: int64

In [52]:
combined_int_df[combined_int_df.State.notna()]

                                               State  ... state_cleaned
9                       Australian Capital Territory  ...           NaN
10                                   New South Wales  ...           NaN
11                                Northern Territory  ...           NaN
12                                        Queensland  ...           NaN
13                                   South Australia  ...           NaN
...                                              ...  ...           ...
216108                                   Isle of Man  ...           NaN
216109                                        Jersey  ...           NaN
216110                                    Montserrat  ...           NaN
216111  Saint Helena, Ascension and Tristan da Cunha  ...           NaN
216112                      Turks and Caicos Islands  ...           NaN

[66207 rows x 9 columns]

In [53]:
combined_int_df[combined_int_df.State.notna()]["State"].count()

66207

In [54]:
import numpy
combined_int_df["state_cleaned"]=combined_int_df.apply(lambda x: x['State'] if (numpy.all(pd.notnull(x['State']))) else x['state_cleaned'], axis=1)

In [55]:
combined_int_df[combined_int_df.State.notna()]

                                               State  ...                                 state_cleaned
9                       Australian Capital Territory  ...                  Australian Capital Territory
10                                   New South Wales  ...                               New South Wales
11                                Northern Territory  ...                            Northern Territory
12                                        Queensland  ...                                    Queensland
13                                   South Australia  ...                               South Australia
...                                              ...  ...                                           ...
216108                                   Isle of Man  ...                                   Isle of Man
216109                                        Jersey  ...                                        Jersey
216110                                    Montserrat  ...                                    Montserrat
216111  Saint Helena, Ascension and Tristan da Cunha  ...  Saint Helena, Ascension and Tristan da Cunha
216112                      Turks and Caicos Islands  ...                      Turks and Caicos Islands

[66207 rows x 9 columns]

In [56]:
combined_int_df[combined_df.state_cleaned=="TBF"]

       State               Country        Lat  ...  Death Recovered  state_cleaned
0        NaN           Afghanistan  33.939110  ...      0         0            TBF
1        NaN               Albania  41.153300  ...      0         0            TBF
2        NaN               Algeria  28.033900  ...      0         0            TBF
3        NaN               Andorra  42.506300  ...      0         0            TBF
4        NaN                Angola -11.202700  ...      0         0            TBF
...      ...                   ...        ...  ...    ...       ...            ...
216119   NaN    West Bank and Gaza  31.952200  ...   5357         0            TBF
216120   NaN  Winter Olympics 2022  39.904200  ...      0         0            TBF
216121   NaN                 Yemen  15.552727  ...   2122         0            TBF
216122   NaN                Zambia -13.133897  ...   3943         0            TBF
216123   NaN              Zimbabwe -19.015438  ...   5386         0            TBF

[148395 rows x 9 columns]

In [57]:
combined_int_df[combined_int_df.state_cleaned == "TBF"]['Country'].value_counts()

Afghanistan                         761
Saint Vincent and the Grenadines    761
New Zealand                         761
Nicaragua                           761
Niger                               761
                                   ...
Grenada                             761
Guatemala                           761
Guinea                              761
Guinea-Bissau                       761
Zimbabwe                            761
Name: Country, Length: 195, dtype: int64

In [58]:
combined_int_df.head(50)

                           State  ...                 state_cleaned
0                            NaN  ...                           TBF
1                            NaN  ...                           TBF
2                            NaN  ...                           TBF
3                            NaN  ...                           TBF
4                            NaN  ...                           TBF
5                            NaN  ...                           TBF
6                            NaN  ...                           TBF
7                            NaN  ...                           TBF
8                            NaN  ...                           TBF
9   Australian Capital Territory  ...  Australian Capital Territory
10               New South Wales  ...               New South Wales
11            Northern Territory  ...            Northern Territory
12                    Queensland  ...                    Queensland
13               South Australia  ...               South Australia
14                      Tasmania  ...                      Tasmania
15                      Victoria  ...                      Victoria
16             Western Australia  ...             Western Australia
17                           NaN  ...                           TBF
18                           NaN  ...                           TBF
19                           NaN  ...                           TBF
20                           NaN  ...                           TBF
21                           NaN  ...                           TBF
22                           NaN  ...                           TBF
23                           NaN  ...                           TBF
24                           NaN  ...                           TBF
25                           NaN  ...                           TBF
26                           NaN  ...                           TBF
27                           NaN  ...                           TBF
28                           NaN  ...                           TBF
29                           NaN  ...                           TBF
30                           NaN  ...                           TBF
31                           NaN  ...                           TBF
32                           NaN  ...                           TBF
33                           NaN  ...                           TBF
34                           NaN  ...                           TBF
35                           NaN  ...                           TBF
36                           NaN  ...                           TBF
37                           NaN  ...                           TBF
38                           NaN  ...                           TBF
39                           NaN  ...                           TBF
40                       Alberta  ...                       Alberta
41              British Columbia  ...              British Columbia
42              Diamond Princess  ...              Diamond Princess
43                Grand Princess  ...                Grand Princess
44                      Manitoba  ...                      Manitoba
45                 New Brunswick  ...                 New Brunswick
46     Newfoundland and Labrador  ...     Newfoundland and Labrador
47         Northwest Territories  ...         Northwest Territories
48                   Nova Scotia  ...                   Nova Scotia
49                       Nunavut  ...                       Nunavut

[50 rows x 9 columns]

In [59]:
capital_df = pd.read_csv('https://raw.githubusercontent.com/icyrockcom/country-capitals/master/data/country-list.csv')

In [60]:
capital_df.head()

                 country              capital            type
0               Abkhazia              Sukhumi  countryCapital
1            Afghanistan                Kabul  countryCapital
2  Akrotiri and Dhekelia  Episkopi Cantonment  countryCapital
3                Albania               Tirana  countryCapital
4                Algeria              Algiers  countryCapital

In [61]:
capital_df['country'].replace({"United Kingdom; England": "United Kingdom"}, inplace=True)

In [62]:
capital_df['country']=capital_df.country.str.lower()

In [63]:
capital_df.head()

                 country              capital            type
0               abkhazia              Sukhumi  countryCapital
1            afghanistan                Kabul  countryCapital
2  akrotiri and dhekelia  Episkopi Cantonment  countryCapital
3                albania               Tirana  countryCapital
4                algeria              Algiers  countryCapital

In [64]:
capital_df=capital_df.set_index('country')

In [65]:
capital_df.loc['algeria'][0]

'Algiers'

In [66]:
combined_int_df[combined_int_df.state_cleaned == "TBF"]

       State               Country        Lat  ...  Death Recovered  state_cleaned
0        NaN           Afghanistan  33.939110  ...      0         0            TBF
1        NaN               Albania  41.153300  ...      0         0            TBF
2        NaN               Algeria  28.033900  ...      0         0            TBF
3        NaN               Andorra  42.506300  ...      0         0            TBF
4        NaN                Angola -11.202700  ...      0         0            TBF
...      ...                   ...        ...  ...    ...       ...            ...
216119   NaN    West Bank and Gaza  31.952200  ...   5357         0            TBF
216120   NaN  Winter Olympics 2022  39.904200  ...      0         0            TBF
216121   NaN                 Yemen  15.552727  ...   2122         0            TBF
216122   NaN                Zambia -13.133897  ...   3943         0            TBF
216123   NaN              Zimbabwe -19.015438  ...   5386         0            TBF

[148395 rows x 9 columns]

In [67]:
def lookup_capital(country):
  try:
    capital=capital_df.loc[country.lower()][0]
  except:
    capital="TBF"
  return capital

In [68]:
combined_int_df.apply(lambda x: lookup_capital(x['Country']) if (x['state_cleaned']=="TBF") else x['state_cleaned'], axis=1)

0                    Kabul
1                   Tirana
2                  Algiers
3         Andorra la Vella
4                   Luanda
                ...
216119                 TBF
216120                 TBF
216121               Sanaá
216122              Lusaka
216123              Harare
Length: 214602, dtype: object

In [69]:
combined_int_df['state_cleaned']=combined_int_df.apply(lambda x: lookup_capital(x['Country']) if (x['state_cleaned']=="TBF") else x['state_cleaned'], axis=1)

In [70]:
combined_int_df[combined_int_df.state_cleaned == "TBF"]['Country'].value_counts()

Antarctica               761
Bolivia                  761
West Bank and Gaza       761
US                       761
Timor-Leste              761
Taiwan*                  761
Summer Olympics 2020     761
Sao Tome and Principe    761
North Macedonia          761
Micronesia               761
MS Zaandam               761
Korea, South             761
Holy See                 761
Eswatini                 761
Diamond Princess         761
Czechia                  761
Cote d'Ivoire            761
Congo (Kinshasa)         761
Congo (Brazzaville)      761
Cabo Verde               761
Burma                    761
Winter Olympics 2022     761
Name: Country, dtype: int64

In [71]:
combined_int_df["Country"].replace({"Republic of Moldova": "Moldova", "Holy See": "Vatican City", "UK": "United Kingdom","Viet Nam":"Vietnam","Iran (Islamic Republic of)":"Iran"}, inplace=True)

In [72]:
combined_int_df[combined_int_df.state_cleaned == "TBF"]['Country'].value_counts()

Antarctica               761
Bolivia                  761
West Bank and Gaza       761
US                       761
Timor-Leste              761
Taiwan*                  761
Summer Olympics 2020     761
Sao Tome and Principe    761
North Macedonia          761
Micronesia               761
MS Zaandam               761
Korea, South             761
Vatican City             761
Eswatini                 761
Diamond Princess         761
Czechia                  761
Cote d'Ivoire            761
Congo (Kinshasa)         761
Congo (Brazzaville)      761
Cabo Verde               761
Burma                    761
Winter Olympics 2022     761
Name: Country, dtype: int64

In [73]:
combined_int_df['state_cleaned']=combined_int_df.apply(lambda x: lookup_capital(x['Country']) if (x['state_cleaned']=="TBF") else x['state_cleaned'], axis=1)

In [74]:
combined_int_df[combined_int_df.state_cleaned == "TBF"]['Country'].value_counts()

Antarctica               761
MS Zaandam               761
West Bank and Gaza       761
US                       761
Timor-Leste              761
Taiwan*                  761
Summer Olympics 2020     761
Sao Tome and Principe    761
North Macedonia          761
Micronesia               761
Korea, South             761
Bolivia                  761
Eswatini                 761
Diamond Princess         761
Czechia                  761
Cote d'Ivoire            761
Congo (Kinshasa)         761
Congo (Brazzaville)      761
Cabo Verde               761
Burma                    761
Winter Olympics 2022     761
Name: Country, dtype: int64

In [75]:
combined_int_df["state_cleaned"]=combined_int_df.apply(lambda x: x['Country'] if (x['state_cleaned']=="TBF") else x['state_cleaned'], axis=1)

In [76]:
combined_int_df[combined_int_df.state_cleaned == "TBF"]['Country'].value_counts()

Series([], Name: Country, dtype: int64)

In [77]:
combined_int_df.to_csv('corona_dataset.csv')

In [78]:
combined_int_df[combined_int_df.Country=="US"]

       State Country   Lat   Long  ... Confirmed   Death  Recovered  state_cleaned
256      NaN      US  40.0 -100.0  ...         1       0          0             US
540      NaN      US  40.0 -100.0  ...         1       0          0             US
824      NaN      US  40.0 -100.0  ...         2       0          0             US
1108     NaN      US  40.0 -100.0  ...         2       0          0             US
1392     NaN      US  40.0 -100.0  ...         5       0          0             US
...      ...     ...   ...    ...  ...       ...     ...        ...            ...
214960   NaN      US  40.0 -100.0  ...  78174363  928639          0             US
215244   NaN      US  40.0 -100.0  ...  78275698  931862          0             US
215528   NaN      US  40.0 -100.0  ...  78423525  934321          0             US
215812   NaN      US  40.0 -100.0  ...  78457081  934951          0             US
216096   NaN      US  40.0 -100.0  ...  78479134  935335          0             US

[761 rows x 9 columns]

In [79]:
usstates_df = pd.read_csv('https://raw.githubusercontent.com/jasonong/List-of-US-States/master/states.csv')

In [80]:
usstates_df.head()

        State Abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA

In [81]:
usstates_df=usstates_df.set_index('Abbreviation')

In [82]:
usstates_df.head()

                   State
Abbreviation
AL               Alabama
AK                Alaska
AZ               Arizona
AR              Arkansas
CA            California

In [83]:
usstates_df.loc['AZ']

State    Arizona
Name: AZ, dtype: object

In [84]:
combined_int_df

       State               Country  ...  Recovered         state_cleaned
0        NaN           Afghanistan  ...          0                 Kabul
1        NaN               Albania  ...          0                Tirana
2        NaN               Algeria  ...          0               Algiers
3        NaN               Andorra  ...          0      Andorra la Vella
4        NaN                Angola  ...          0                Luanda
...      ...                   ...  ...        ...                   ...
216119   NaN    West Bank and Gaza  ...          0    West Bank and Gaza
216120   NaN  Winter Olympics 2022  ...          0  Winter Olympics 2022
216121   NaN                 Yemen  ...          0                 Sanaá
216122   NaN                Zambia  ...          0                Lusaka
216123   NaN              Zimbabwe  ...          0                Harare

[214602 rows x 9 columns]

In [86]:
#combined_int_df['City']=combined_int_df.apply(lambda x: x['State'].split(",")[0] if(x['Country']=="US") else "", axis=1)

In [87]:
def convert_state(state):
  try:
    output=state.split(",")[1].strip()
    output=usstates_df.loc[output.upper()][0]
  except:
    output=state
  return output

In [88]:
combined_int_df["state_cleaned"]=combined_int_df.apply(lambda x: convert_state(x['state_cleaned']) if(x['Country']=="US") else x['state_cleaned'], axis=1)

In [89]:
combined_int_df.head(50)

                           State  ...                 state_cleaned
0                            NaN  ...                         Kabul
1                            NaN  ...                        Tirana
2                            NaN  ...                       Algiers
3                            NaN  ...              Andorra la Vella
4                            NaN  ...                        Luanda
5                            NaN  ...                    Antarctica
6                            NaN  ...                    St. John's
7                            NaN  ...                  Buenos Aires
8                            NaN  ...                       Yerevan
9   Australian Capital Territory  ...  Australian Capital Territory
10               New South Wales  ...               New South Wales
11            Northern Territory  ...            Northern Territory
12                    Queensland  ...                    Queensland
13               South Australia  ...               South Australia
14                      Tasmania  ...                      Tasmania
15                      Victoria  ...                      Victoria
16             Western Australia  ...             Western Australia
17                           NaN  ...                        Vienna
18                           NaN  ...                          Baku
19                           NaN  ...                        Nassau
20                           NaN  ...                        Manama
21                           NaN  ...                         Dhaka
22                           NaN  ...                    Bridgetown
23                           NaN  ...                         Minsk
24                           NaN  ...                      Brussels
25                           NaN  ...                      Belmopan
26                           NaN  ...                    Porto-Novo
27                           NaN  ...                       Thimphu
28                           NaN  ...                       Bolivia
29                           NaN  ...                      Sarajevo
30                           NaN  ...                      Gaborone
31                           NaN  ...                      Brasília
32                           NaN  ...           Bandar Seri Begawan
33                           NaN  ...                         Sofia
34                           NaN  ...                   Ouagadougou
35                           NaN  ...                         Burma
36                           NaN  ...                     Bujumbura
37                           NaN  ...                    Cabo Verde
38                           NaN  ...                    Phnom Penh
39                           NaN  ...                       Yaoundé
40                       Alberta  ...                       Alberta
41              British Columbia  ...              British Columbia
42              Diamond Princess  ...              Diamond Princess
43                Grand Princess  ...                Grand Princess
44                      Manitoba  ...                      Manitoba
45                 New Brunswick  ...                 New Brunswick
46     Newfoundland and Labrador  ...     Newfoundland and Labrador
47         Northwest Territories  ...         Northwest Territories
48                   Nova Scotia  ...                   Nova Scotia
49                       Nunavut  ...                       Nunavut

[50 rows x 9 columns]

In [90]:
combined_int_df[combined_int_df.Country=="US"][0:100]

      State Country   Lat   Long  ... Confirmed  Death  Recovered  state_cleaned
256     NaN      US  40.0 -100.0  ...         1      0          0             US
540     NaN      US  40.0 -100.0  ...         1      0          0             US
824     NaN      US  40.0 -100.0  ...         2      0          0             US
1108    NaN      US  40.0 -100.0  ...         2      0          0             US
1392    NaN      US  40.0 -100.0  ...         5      0          0             US
...     ...     ...   ...    ...  ...       ...    ...        ...            ...
27236   NaN      US  40.0 -100.0  ...    970663  57850     106988             US
27520   NaN      US  40.0 -100.0  ...    995292  59330     111424             US
27804   NaN      US  40.0 -100.0  ...   1019733  61571     115936             US
28088   NaN      US  40.0 -100.0  ...   1046338  63962     120720             US
28372   NaN      US  40.0 -100.0  ...   1075401  66154     153947             US

[100 rows x 9 columns]

In [91]:
combined_int_df.to_csv("corona_dataset.csv")