In [1]:
!pip install python-dotenv

Collecting python-dotenv
  Downloading python_dotenv-0.14.0-py2.py3-none-any.whl (17 kB)
Installing collected packages: python-dotenv
Successfully installed python-dotenv-0.14.0

In [39]:
from dotenv import load_dotenv # add this line

load_dotenv() # add this line

accesstoken = os.getenv('ACCESS_TOKEN')
accesstokensecret = os.getenv('ACCESS_TOKEN_SECRET')
apikey = os.getenv('API_KEY')
apisecretkey = os.getenv('API_SECRET_KEY')
print(accesstoken)

1027542862861426688-IbwHGihEBcGrCeaz9P5gZ0iczYlWwj

In [6]:
import pandas as pd

In [7]:
corona_confirmed_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')

In [8]:
corona_confirmed_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,9/26/20,9/27/20,9/28/20,9/29/20,9/30/20,10/1/20,10/2/20,10/3/20,10/4/20,10/5/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,39192,39227,39233,39254,39268,39285,39290,39297,39341,39422
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,13153,13259,13391,13518,13649,13806,13965,14117,14266,14410
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,50914,51067,51213,51368,51530,51690,51847,51995,52136,52270
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,1836,1836,1966,1966,2050,2050,2110,2110,2110,2370
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,4672,4718,4797,4905,4972,5114,5211,5370,5402,5530

In [15]:
corona_death_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')

In [16]:
corona_death_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,9/26/20,9/27/20,9/28/20,9/29/20,9/30/20,10/1/20,10/2/20,10/3/20,10/4/20,10/5/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,1453,1453,1455,1458,1458,1458,1458,1462,1462,1466
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,375,377,380,384,387,388,389,392,396,400
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,1711,1714,1719,1726,1736,1741,1749,1756,1760,1768
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,53,53,53,53,53,53,53,53,53,53
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,171,174,176,179,183,185,189,193,195,199

In [19]:
corona_recovered_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')

In [21]:
corona_recovered_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,9/26/20,9/27/20,9/28/20,9/29/20,9/30/20,10/1/20,10/2/20,10/3/20,10/4/20,10/5/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,32635,32642,32642,32746,32789,32842,32842,32842,32852,32879
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,7397,7397,7629,7732,7847,8077,8342,8536,8675,8825
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,35756,35860,35962,36063,36174,36282,36385,36482,36578,36672
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,1263,1263,1265,1265,1432,1432,1540,1540,1540,1615
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,1639,1707,1813,1833,1941,2082,2215,2436,2577,2591

In [22]:
corona_confirmed_df = corona_confirmed_df.melt(id_vars=['Province/State','Country/Region','Lat','Long'])

In [23]:
corona_confirmed_df.head()

  Province/State Country/Region       Lat       Long variable  value
0            NaN    Afghanistan  33.93911  67.709953  1/22/20      0
1            NaN        Albania  41.15330  20.168300  1/22/20      0
2            NaN        Algeria  28.03390   1.659600  1/22/20      0
3            NaN        Andorra  42.50630   1.521800  1/22/20      0
4            NaN         Angola -11.20270  17.873900  1/22/20      0

In [24]:
corona_confirmed_df = corona_confirmed_df.rename({'variable':'Date','value':'Confirmed'},axis = 'columns')

In [25]:
corona_confirmed_df.head()

  Province/State Country/Region       Lat       Long     Date  Confirmed
0            NaN    Afghanistan  33.93911  67.709953  1/22/20          0
1            NaN        Albania  41.15330  20.168300  1/22/20          0
2            NaN        Algeria  28.03390   1.659600  1/22/20          0
3            NaN        Andorra  42.50630   1.521800  1/22/20          0
4            NaN         Angola -11.20270  17.873900  1/22/20          0

In [26]:
corona_death_df = corona_death_df.melt(id_vars=['Province/State','Country/Region','Lat','Long'])

In [28]:
corona_death_df = corona_death_df.rename({'variable':'Date','value':'Death'},axis = 'columns')

In [29]:
corona_death_df.head()

  Province/State Country/Region       Lat       Long     Date  Death
0            NaN    Afghanistan  33.93911  67.709953  1/22/20      0
1            NaN        Albania  41.15330  20.168300  1/22/20      0
2            NaN        Algeria  28.03390   1.659600  1/22/20      0
3            NaN        Andorra  42.50630   1.521800  1/22/20      0
4            NaN         Angola -11.20270  17.873900  1/22/20      0

In [30]:
corona_recovered_df = corona_recovered_df.melt(id_vars=['Province/State','Country/Region','Lat','Long'])

In [31]:
corona_recovered_df = corona_recovered_df.rename({'variable':'Date','value':'Recovered'},axis = 'columns')

In [32]:
corona_recovered_df.head()

  Province/State Country/Region       Lat       Long     Date  Recovered
0            NaN    Afghanistan  33.93911  67.709953  1/22/20          0
1            NaN        Albania  41.15330  20.168300  1/22/20          0
2            NaN        Algeria  28.03390   1.659600  1/22/20          0
3            NaN        Andorra  42.50630   1.521800  1/22/20          0
4            NaN         Angola -11.20270  17.873900  1/22/20          0

In [33]:
combined_df = [corona_confirmed_df, corona_death_df, corona_recovered_df]
combined_df = [df.set_index(['Province/State','Country/Region','Lat','Long','Date']) for df in combined_df]
combined_df = combined_df[0].join(combined_df[1:])

In [34]:
combined_df.head()

                                                           Confirmed  Death  \
Province/State Country/Region Lat       Long      Date
NaN            Afghanistan     33.93911 67.709953 1/22/20        0.0    0.0
               Albania         41.15330 20.168300 1/22/20        0.0    0.0
               Algeria         28.03390 1.659600  1/22/20        0.0    0.0
               Andorra         42.50630 1.521800  1/22/20        0.0    0.0
               Angola         -11.20270 17.873900 1/22/20        0.0    0.0

                                                           Recovered
Province/State Country/Region Lat       Long      Date
NaN            Afghanistan     33.93911 67.709953 1/22/20        0.0
               Albania         41.15330 20.168300 1/22/20        0.0
               Algeria         28.03390 1.659600  1/22/20        0.0
               Andorra         42.50630 1.521800  1/22/20        0.0
               Angola         -11.20270 17.873900 1/22/20        0.0

In [35]:
combined_df = combined_df.reset_index()

In [36]:
combined_df.head()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Death,Recovered
0,NaN,Afghanistan,33.93911,67.709953,1/22/20,0.0,0.0,0.0
1,NaN,Albania,41.15330,20.168300,1/22/20,0.0,0.0,0.0
2,NaN,Algeria,28.03390,1.659600,1/22/20,0.0,0.0,0.0
3,NaN,Andorra,42.50630,1.521800,1/22/20,0.0,0.0,0.0
4,NaN,Angola,-11.20270,17.873900,1/22/20,0.0,0.0,0.0

In [37]:
combined_df[['Lat','Long','Confirmed','Death','Recovered']] = combined_df[['Lat','Long','Confirmed','Death','Recovered']].apply(pd.to_numeric)

In [38]:
combined_df[['Date']] = combined_df[['Date']].apply(pd.to_datetime)

In [58]:
combined_df.Lat = combined_df.Lat.astype(int)
combined_df.Long = combined_df.Long.astype(int)
combined_df.Confirmed = combined_df.Confirmed.astype(int)
combined_df.Death = combined_df.Death.astype(int)
combined_df.Recovered = combined_df.Recovered.fillna(0.0).astype(int)

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [63]:
combined_df.dtypes

Province/State            object
Country/Region            object
Lat                        int64
Long                       int64
Date              datetime64[ns]
Confirmed                  int64
Death                    float64
Recovered                float64
dtype: object

In [64]:
combined_df.head()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Death,Recovered
0,NaN,Afghanistan,33,67,2020-01-22,0,0.0,0.0
1,NaN,Albania,41,20,2020-01-22,0,0.0,0.0
2,NaN,Algeria,28,1,2020-01-22,0,0.0,0.0
3,NaN,Andorra,42,1,2020-01-22,0,0.0,0.0
4,NaN,Angola,-11,17,2020-01-22,0,0.0,0.0

In [65]:
combined_df = combined_df.rename({'Province/State':'State','Country/Region':'Country'},axis = 'columns')

In [67]:
combined_df.head(5000)

,State,Country,Lat,Long,Date,Confirmed,Death,Recovered
0,NaN,Afghanistan,33,67,2020-01-22,0,0.0,0.0
1,NaN,Albania,41,20,2020-01-22,0,0.0,0.0
2,NaN,Algeria,28,1,2020-01-22,0,0.0,0.0
3,NaN,Andorra,42,1,2020-01-22,0,0.0,0.0
4,NaN,Angola,-11,17,2020-01-22,0,0.0,0.0
...,...,...,...,...,...,...,...,...
4995,NaN,Romania,45,24,2020-02-09,0,0.0,0.0
4996,NaN,Russia,61,105,2020-02-09,2,NaN,0.0
4997,NaN,Rwanda,-1,29,2020-02-09,0,0.0,0.0
4998,NaN,Saint Kitts and Nevis,17,-62,2020-02-09,0,0.0,0.0
4999,NaN,Saint Lucia,13,-60,2020-02-09,0,0.0,0.0

In [68]:
combined_df.isnull().any()

State         True
Country      False
Lat          False
Long         False
Date         False
Confirmed    False
Death         True
Recovered     True
dtype: bool

In [69]:
combined_df.count()

State        20898
Country      68628
Lat          68628
Long         68628
Date         68628
Confirmed    68628
Death        62436
Recovered    63726
dtype: int64

In [70]:
combined_df.set_index('Country').filter(like="India",axis=0)

        State  Lat  Long       Date  Confirmed     Death  Recovered
Country
India     NaN   20    78 2020-01-22          0       0.0        0.0
India     NaN   20    78 2020-01-23          0       0.0        0.0
India     NaN   20    78 2020-01-24          0       0.0        0.0
India     NaN   20    78 2020-01-25          0       0.0        0.0
India     NaN   20    78 2020-01-26          0       0.0        0.0
...       ...  ...   ...        ...        ...       ...        ...
India     NaN   20    78 2020-10-01    6394068   99773.0  5352078.0
India     NaN   20    78 2020-10-02    6473544  100842.0  5427706.0
India     NaN   20    78 2020-10-03    6549373  101782.0  5509966.0
India     NaN   20    78 2020-10-04    6623815  102685.0  5586703.0
India     NaN   20    78 2020-10-05    6685082  103569.0  5662490.0

[258 rows x 7 columns]

In [71]:
combined_df[combined_df.State.isnull()]['Country'].value_counts()

Turkey        258
Fiji          258
MS Zaandam    258
Thailand      258
US            258
             ...
Georgia       258
Poland        258
Guinea        258
Venezuela     258
Bhutan        258
Name: Country, Length: 185, dtype: int64

In [79]:
import os, geopy

ModuleNotFoundError: No module named &#39;geopy&#39;

In [ ]:
from geopy.geocoders import Nominatim

In [ ]:
dir (geopy)

['ArcGIS',
 'AzureMaps',
 'Baidu',
 'Bing',
 'DataBC',
 'GeoNames',
 'GeocodeEarth',
 'GeocodeFarm',
 'GoogleV3',
 'Here',
 'IGNFrance',
 'LiveAddress',
 'Location',
 'MapBox',
 'Nominatim',
 'OpenCage',
 'OpenMapQuest',
 'Pelias',
 'Photon',
 'PickPoint',
 'Point',
 'TomTom',
 'What3Words',
 'Yandex',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 'compat',
 'exc',
 'format',
 'geocoders',
 'get_geocoder_for_service',
 'location',
 'point',
 'units',
 'util']

In [ ]:
nom = Nominatim()
geocode_result = nom.geocode(-23.4425,-58.4438)
print(geocode_result[0])

/usr/local/lib/python3.6/dist-packages/geopy/geocoders/osm.py:143: UserWarning: Using Nominatim with the default "geopy/1.17.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  UserWarning

Ben Allel, Daïra Miliana, Aïn Defla - عين الدفلى, الجزائر

/usr/local/lib/python3.6/dist-packages/geopy/point.py:180: UserWarning: A single number has been passed to the Point constructor. This is probably a mistake, because constructing a Point with just a latitude seems senseless. If this is exactly what was meant, then pass the zero longitude explicitly to get rid of this warning.
  UserWarning)