In [1]:
!pip3 install python-dotenv

Requirement already satisfied: python-dotenv in /home/chafer/.local/lib/python3.8/site-packages (0.14.0)

In [2]:
from dotenv import load_dotenv # add this line
load_dotenv() # add this line

accesstoken = os.getenv('ACCESS_TOKEN')
accesstokensecret = os.getenv('ACCESS_TOKEN_SECRET')
apikey = os.getenv('API_KEY')
apisecretkey = os.getenv('API_SECRET_KEY')
print(accesstoken)

1027542862861426688-IbwHGihEBcGrCeaz9P5gZ0iczYlWwj

In [3]:
import pandas as pd
import numpy as np
import tweepy as tw

In [4]:
# Set up the auth tokens
auth = tw.OAuthHandler(apikey,apisecretkey)
auth.set_access_token(accesstoken, accesstokensecret)

api = tw.API(auth,wait_on_rate_limit = True)

In [5]:
search_words = '#coronavirus'
date_since = '2020-3-10'

In [7]:
tweets = tw.Cursor(api.search,q=search_words,since=date_since,lang="en").items(100)

In [8]:
tweets

In [9]:
tweet_details = [[tweet.geo,tweet.text,tweet.user.screen_name,tweet.user.location] for tweet in tweets]

In [10]:
tweet_df = pd.DataFrame(data=tweet_details,columns=['geo','text','user',"location"])

In [ ]:
pd.set_option('max_colwidth', 800)
tweet_df.head(20)

     geo  ...                      location
0   None  ...           Manchester, England
1   None  ...                        Zurich
2   None  ...                United Kingdom
3   None  ...
4   None  ...                 United States
5   None  ...           Sittingbourne, Kent
6   None  ...                    Chandigarh
7   None  ...                         India
8   None  ...                Nairobi, Kenya
9   None  ...  Salisbury and Southampton UK
10  None  ...                  Assam, India
11  None  ...                  South Africa
12  None  ...        KWTğŸ‡°ğŸ‡¼ DUBğŸ‡®ğŸ‡ª LIVğŸ‡¬ğŸ‡§ AZğŸ‡ºğŸ‡¸
13  None  ...                         INDIA
14  None  ...      Perth, Western Australia
15  None  ...           South East, England
16  None  ...
17  None  ...                    Texas, USA
18  None  ...
19  None  ...                  Sarasota, FL

[20 rows x 4 columns]

In [ ]:
tweet_df.user.value_counts()

line_ryder         2
mynation_F4JSTC    2
DeccanHerald       2
ODIclimate         1
jaigoenka          1
                  ..
Elljay1011         1
MuratEk58506559    1
jannice            1
Saadia37765706     1
climatebabes       1
Name: user, Length: 97, dtype: int64

In [ ]:
tweet_df.location.value_counts()

                           24
India                       6
London, England             3
England, United Kingdom     2
London                      2
                           ..
Nottinghamshire             1
USA                         1
Edinburgh, Scotland         1
Teddington, England         1
Nairobi, Kenya              1
Name: location, Length: 68, dtype: int64

In [ ]:
import re
def clean_tweets(text):
  text = re.sub("RT @[\w]*:", "", text)
  text = re.sub("@[\w]*", "", text)
  text = re.sub("https?://[A-Za-z0-9./]*", "", text)
  text = re.sub("\n", "", text)
  return text

In [ ]:
tweet_df['text'] = tweet_df['text'].apply(lambda x: clean_tweets(x))

In [ ]:
tweet_df.head(20)

     geo  ...                      location
0   None  ...           Manchester, England
1   None  ...                        Zurich
2   None  ...                United Kingdom
3   None  ...
4   None  ...                 United States
5   None  ...           Sittingbourne, Kent
6   None  ...                    Chandigarh
7   None  ...                         India
8   None  ...                Nairobi, Kenya
9   None  ...  Salisbury and Southampton UK
10  None  ...                  Assam, India
11  None  ...                  South Africa
12  None  ...        KWTğŸ‡°ğŸ‡¼ DUBğŸ‡®ğŸ‡ª LIVğŸ‡¬ğŸ‡§ AZğŸ‡ºğŸ‡¸
13  None  ...                         INDIA
14  None  ...      Perth, Western Australia
15  None  ...           South East, England
16  None  ...
17  None  ...                    Texas, USA
18  None  ...
19  None  ...                  Sarasota, FL

[20 rows x 4 columns]

In [ ]:
tweet_df.to_csv('tweets.csv')

In [ ]:
!ls

drive  sample_data  tweets.csv

In [ ]:
import spacy
nlp = spacy.load('en_core_web_sm')

In [ ]:
tweet_df['text'].apply(lambda x: [print("\tText : {}, Entity : {}".format(ent.text,ent.label_)) if (not ent.text.startswith('#')) else "" for ent in nlp(x).ents])

	Text : first, Entity : ORDINAL
	Text : 300, Entity : MONEY
	Text : CashApp, Entity : PRODUCT
	Text : Appl, Entity : PERSON
	Text : Fed, Entity : ORG
	Text : Jerome Powell, Entity : PERSON
	Text : US, Entity : GPE
	Text : LCAW2020, Entity : MONEY
	Text : JosuÃ© Ta, Entity : PERSON
	Text : Scottish, Entity : NORP
	Text : Prof Devi Sridhar, Entity : PERSON
	Text : C4 News, Entity : ORG
	Text : Scotland, Entity : GPE
	Text : ChinaVirus, Entity : PERSON
	Text : today, Entity : DATE
	Text : ğŸ‡³, Entity : ORG
	Text : coronavirus, Entity : PERSON
	Text : China, Entity : GPE
	Text : COVID, Entity : PERSON
	Text : PCD, Entity : ORG
	Text : 29/06/2020, Entity : CARDINAL
	Text : China, Entity : GPE
	Text : 14 June 2020, Entity : DATE
	Text : ANC, Entity : ORG
	Text : Arizona, Entity : PERSON
	Text : 30 days, Entity : DATE
	Text : 86th Entry, Entity : ORG
	Text : Coronavirus Poetry, Entity : ORG
	Text : 10, Entity : CARDINAL
	Text : COVID19, Entity : PERSON
	Text : the World Health Organisation', Entity : ORG
	Text : Cctv, Entity : ORG
	Text : IndiaTh, Entity : PERSON
	Text : Desantis, Entity : PERSON
	Text : Florida &amp, Entity : ORG
	Text : Trump, Entity : PERSON
	Text : nâ€™t s, Entity : PRODUCT
	Text : CovidVic, Entity : PERSON
	Text : BLMAustralia, Entity : MONEY
	Text : Desantis, Entity : PERSON
	Text : Florida &amp, Entity : ORG
	Text : Trump, Entity : PERSON
	Text : nâ€™t s, Entity : PRODUCT
	Text : KI, Entity : ORG
	Text : Brits, Entity : NORP
	Text : Coronavirus, Entity : ORG
	Text : Mum, Entity : PERSON
	Text : Afghanistan, Entity : GPE
	Text : at least 953, Entity : CARDINAL
	Text : each, day, Entity : DATE
	Text : Wear Mask ğŸ˜·, Entity : FAC
	Text : U.S., Entity : GPE
	Text : daily, Entity : DATE
	Text : U.S., Entity : GPE
	Text : studentBut, Entity : WORK_OF_ART
	Text : ğŸ“£Lockdown &amp, Entity : ORG
	Text : COVID19, Entity : PERSON
	Text : the World Health Organisation', Entity : ORG
	Text : Scottish, Entity : NORP
	Text : Prof Devi Sridhar, Entity : PERSON
	Text : C4 News, Entity : ORG
	Text : Scotland, Entity : GPE
	Text : EU, Entity : ORG
	Text : Coronavirus, Entity : PERSON
	Text : Vaccine, Entity : PERSON
	Text : Indian, Entity : NORP
	Text : July, Entity : DATE
	Text : Tayside, Entity : ORG
	Text : 110,000, Entity : MONEY
	Text : 2020, Entity : DATE
	Text : Dude, Entity : PERSON
	Text : Coronavirus, Entity : ORG
	Text : Epicenter, Entity : ORG
	Text : CoronaVirus, Entity : PERSON
	Text : Nestle, Entity : PERSON
	Text : Maggi, Entity : PERSON
	Text : Sunday, Entity : DATE
	Text : 12, Entity : CARDINAL
	Text : PollThe, Entity : CARDINAL
	Text : State for Health &amp, Entity : ORG
	Text : Social Care, Entity : ORG
	Text : Leice, Entity : GPE
	Text : New Needs Fund, Entity : ORG
	Text : Telangana, Entity : PERSON
	Text : July 1 or July 2, Entity : DATE
	Text : 18,522, Entity : CARDINAL
	Text : a single day, Entity : DATE
	Text : India, Entity : GPE
	Text : 5,66,840, Entity : CARDINAL
	Text : UK, Entity : GPE
	Text : 160,000, Entity : CARDINAL
	Text : Health England, Entity : ORG
	Text : 240,000, Entity : CARDINAL
	Text : Safer-at-home, Entity : WORK_OF_ART
	Text : Giveaway, Entity : PERSON
	Text : Console!!to, Entity : GPE
	Text : RETWEET &amp, Entity : ORG
	Text : FOLLOW, Entity : ORG
	Text : June 3, Entity : DATE
	Text : Iran, Entity : PERSON
	Text : Over 62,600, Entity : CARDINAL
	Text : June 29, 2020, Entity : DATE
	Text : 6:00 PM, Entity : TIME
	Text : CEST, Entity : PERSON
	Text : AamirKhan, Entity : PERSON
	Text : 30-06, Entity : CARDINAL
	Text : Rajasthan, Entity : PERSON
	Text : New Recoveries, Entity : GPE
	Text : 6, Entity : CARDINAL
	Text : Only 8, Entity : CARDINAL
	Text : 1,000, Entity : CARDINAL
	Text : Turkey, Entity : GPE
	Text : AamirKhan, Entity : PERSON
	Text : Chinese, Entity : NORP
	Text : FIRST, Entity : ORDINAL
	Text : Bharat Biotech, Entity : ORG
	Text : COVAXIN, Entity : EVENT
	Text : Lakh Food Packets &amp, Entity : ORG
	Text : 14,000, Entity : CARDINAL
	Text : Sunday, Entity : DATE
	Text : 12, Entity : CARDINAL
	Text : China, Entity : GPE
	Text : about #SwineFlu, Entity : MONEY
	Text : china, Entity : GPE
	Text : now\, Entity : ORG
	Text : 41, Entity : CARDINAL
	Text : New York's, Entity : GPE
	Text : Broadway, Entity : FAC
	Text : next year, Entity : DATE
	Text : AamirKhan, Entity : PERSON
	Text : 2020, Entity : CARDINAL
	Text : today, Entity : DATE
	Text : JanataCurfew, Entity : PERSON
	Text : COVID, Entity : ORG
	Text : Today, Entity : DATE
	Text : Coronavirus, Entity : PERSON
	Text : Egypt, Entity : GPE
	Text : 1566, Entity : DATE
	Text : 83, Entity : CARDINAL
	Text : 66754, Entity : CARDINAL
	Text : 2872, Entity : CARDINAL
	Text : PROFIT, Entity : PERSON
	Text : today, Entity : DATE
	Text : Leicester, Entity : GPE
	Text : Remdesvir, Entity : PERSON
	Text : 2,340, Entity : MONEY
	Text : US, Entity : GPE
	Text : 21 weeks, Entity : DATE
	Text : Sexual Revolution, Entity : EVENT
	Text : David Duke, Entity : PERSON
	Text : Apple, Entity : ORG
	Text : Royal Dutch, Entity : ORG
	Text : between $15 billion and $22 billion, Entity : MONEY
	Text : the second quarter, Entity : DATE
	Text : Texas, Entity : GPE
	Text : today, Entity : DATE
	Text : COVID, Entity : ORG
	Text : Arsema, Entity : PERSON
	Text : one, Entity : CARDINAL
	Text : 26MM, Entity : CARDINAL
	Text : BTC, Entity : ORG
	Text : CryptoTab, Entity : ORG
	Text : Today, Entity : DATE
	Text : Coronavirus, Entity : PERSON
	Text : 400mg, Entity : QUANTITY
	Text : 93%, Entity : PERCENT
	Text : March, Entity : DATE
	Text : Airtravel, Entity : PERSON
	Text : Delta, Entity : LOC
	Text : 10, Entity : CARDINAL
	Text : | Live Science, Entity : PERSON
	Text : KI, Entity : ORG
	Text : Ahmet Akdogan, Entity : PERSON
	Text : 73, Entity : CARDINAL
	Text : Odemis, Entity : GPE
	Text : Ukraine, Entity : PERSON
	Text : 706, Entity : CARDINAL
	Text : past day, Entity : DATE
	Text : Ukraine, Entity : PERSON
	Text : 706, Entity : CARDINAL
	Text : past day, Entity : DATE
	Text : American, Entity : NORP
	Text : 29-06-2020, Entity : DATE
	Text : coronavirusPDF, Entity : PERSON

0     [None, None, None, None]
1           [None, None, None]
2                           []
3             [, , None, None]
4                           []
                ...
95          [None, None, None]
96                    [None, ]
97                [None, None]
98                          []
99                          []
Name: text, Length: 100, dtype: object

In [ ]:
tweet_df['entities'] = tweet_df['text'].apply(lambda x: [(ent.text, ent.label_) if (not ent.text.startswith('#')) else "" for ent in nlp(x).ents])

In [ ]:
tweet_df.head(20)

     geo  ...                                                                          entities
0   None  ...              [(first, ORDINAL), (300, MONEY), (CashApp, PRODUCT), (Appl, PERSON)]
1   None  ...                                  [(Fed, ORG), (Jerome Powell, PERSON), (US, GPE)]
2   None  ...                                                                                []
3   None  ...                                       [, , (LCAW2020, MONEY), (JosuÃ© Ta, PERSON)]
4   None  ...                                                                                []
5   None  ...  [(Scottish, NORP), (Prof Devi Sridhar, PERSON), (C4 News, ORG), (Scotland, GPE)]
6   None  ...            [(ChinaVirus, PERSON), (today, DATE), (ğŸ‡³, ORG), (coronavirus, PERSON)]
7   None  ...                                                                  [, (China, GPE)]
8   None  ...                                                                 [(COVID, PERSON)]
9   None  ...                                              [(PCD, ORG), (29/06/2020, CARDINAL)]
10  None  ...                                                                  [, (China, GPE)]
11  None  ...                                                [(14 June 2020, DATE), (ANC, ORG)]
12  None  ...                                              [(Arizona, PERSON), (30 days, DATE)]
13  None  ...                    [(86th Entry, ORG), (Coronavirus Poetry, ORG), (10, CARDINAL)]
14  None  ...                                                                                []
15  None  ...                        [(COVID19, PERSON), (the World Health Organisation', ORG)]
16  None  ...                                                  [(Cctv, ORG), (IndiaTh, PERSON)]
17  None  ...      [(Desantis, PERSON), (Florida &amp, ORG), (Trump, PERSON), (nâ€™t s, PRODUCT)]
18  None  ...                                     [, (CovidVic, PERSON), (BLMAustralia, MONEY)]
19  None  ...      [(Desantis, PERSON), (Florida &amp, ORG), (Trump, PERSON), (nâ€™t s, PRODUCT)]

[20 rows x 5 columns]

In [ ]:
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [ ]:
sid = SentimentIntensityAnalyzer()

In [ ]:
tweet_df['sentiment'] = tweet_df['text'].apply(lambda x: sid.polarity_scores(x))

In [ ]:
tweet_df.head(20)

     geo  ...                                                        sentiment
0   None  ...  {'neg': 0.111, 'neu': 0.791, 'pos': 0.099, 'compound': -0.0772}
1   None  ...            {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
2   None  ...            {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
3   None  ...      {'neg': 0.0, 'neu': 0.901, 'pos': 0.099, 'compound': 0.296}
4   None  ...     {'neg': 0.0, 'neu': 0.878, 'pos': 0.122, 'compound': 0.3612}
5   None  ...            {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
6   None  ...     {'neg': 0.154, 'neu': 0.846, 'pos': 0.0, 'compound': -0.508}
7   None  ...       {'neg': 0.0, 'neu': 0.78, 'pos': 0.22, 'compound': 0.4215}
8   None  ...            {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
9   None  ...            {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
10  None  ...            {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
11  None  ...            {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
12  None  ...            {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
13  None  ...            {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
14  None  ...   {'neg': 0.089, 'neu': 0.805, 'pos': 0.106, 'compound': 0.1027}
15  None  ...    {'neg': 0.157, 'neu': 0.843, 'pos': 0.0, 'compound': -0.6249}
16  None  ...            {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
17  None  ...      {'neg': 0.12, 'neu': 0.88, 'pos': 0.0, 'compound': -0.3818}
18  None  ...    {'neg': 0.109, 'neu': 0.891, 'pos': 0.0, 'compound': -0.1511}
19  None  ...      {'neg': 0.12, 'neu': 0.88, 'pos': 0.0, 'compound': -0.3818}

[20 rows x 6 columns]

In [ ]:
import os

In [ ]:
import geopy

In [ ]:
dir (geopy)

['ArcGIS',
 'AzureMaps',
 'Baidu',
 'Bing',
 'DataBC',
 'GeoNames',
 'GeocodeEarth',
 'GeocodeFarm',
 'GoogleV3',
 'Here',
 'IGNFrance',
 'LiveAddress',
 'Location',
 'MapBox',
 'Nominatim',
 'OpenCage',
 'OpenMapQuest',
 'Pelias',
 'Photon',
 'PickPoint',
 'Point',
 'TomTom',
 'What3Words',
 'Yandex',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 'compat',
 'exc',
 'format',
 'geocoders',
 'get_geocoder_for_service',
 'location',
 'point',
 'units',
 'util']

In [ ]:
from geopy.geocoders import Nominatim

In [ ]:
nom = Nominatim()

/usr/local/lib/python3.6/dist-packages/geopy/geocoders/osm.py:143: UserWarning: Using Nominatim with the default "geopy/1.17.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  UserWarning

In [ ]:
tweet_df["coordinates"]= tweet_df["location"].apply(nom.geocode)

In [ ]:
tweet_df.head(20)

     geo  ...                                                                                                            coordinates
0   None  ...                (Manchester, Greater Manchester, North West England, England, United Kingdom, (53.4794892, -2.2451148))
1   None  ...                                                  (ZÃ¼rich, Bezirk ZÃ¼rich, ZÃ¼rich, Switzerland, (47.3723941, 8.5423328))
2   None  ...                                                                             (United Kingdom, (54.7023545, -3.2765753))
3   None  ...                                                                                                                   None
4   None  ...                                                                            (United States, (39.7837304, -100.4458825))
5   None  ...                          (Sittingbourne, Kent, South East, England, ME10 4AL, United Kingdom, (51.3397366, 0.7342319))
6   None  ...                                                                          (Chandigarh, India, (30.7194022, 76.7646552))
7   None  ...                                                                                      (India, (22.3511148, 78.6677428))
8   None  ...                                                                             (Nairobi, Kenya, (-1.2832533, 36.8172449))
9   None  ...  (Salisbury Street, The Polygon, Southampton, South East, England, SO15 2AE, United Kingdom, (50.9113743, -1.4050786))
10  None  ...                                                                               (Assam, India, (26.4073841, 93.2551303))
11  None  ...                                                                               (South Africa, (-28.8166236, 24.991639))
12  None  ...                                                                                                                   None
13  None  ...                                                                                      (India, (22.3511148, 78.6677428))
14  None  ...                                                (Perth, Western Australia, 6000, Australia, (-31.9527121, 115.8604796))
15  None  ...                   (England, Arvika kommun, VÃ¤rmlands lÃ¤n, Svealand, Sverige, (59.743273900000005, 12.711520968966536))
16  None  ...                                                                                                                   None
17  None  ...                                                           (Texas, United States of America, (31.8160381, -99.5120986))
18  None  ...                                                                                                                   None
19  None  ...                              (Sarasota, Sarasota County, Florida, United States of America, (27.3364347, -82.5306527))

[20 rows x 7 columns]

In [ ]:
tweet_df['latitude'] = tweet_df['coordinates'].apply(lambda x: x.latitude if x != None else None)

In [ ]:
tweet_df['longitude'] = tweet_df['coordinates'].apply(lambda x: x.longitude if x != None else None)

In [ ]:
tweet_df.head(20)

     geo  ...   longitude
0   None  ...   -2.245115
1   None  ...    8.542333
2   None  ...   -3.276575
3   None  ...         NaN
4   None  ... -100.445882
5   None  ...    0.734232
6   None  ...   76.764655
7   None  ...   78.667743
8   None  ...   36.817245
9   None  ...   -1.405079
10  None  ...   93.255130
11  None  ...   24.991639
12  None  ...         NaN
13  None  ...   78.667743
14  None  ...  115.860480
15  None  ...   12.711521
16  None  ...         NaN
17  None  ...  -99.512099
18  None  ...         NaN
19  None  ...  -82.530653

[20 rows x 9 columns]