In [1]:
!pip3 install python-dotenv

Requirement already satisfied: python-dotenv in /home/chafer/.local/lib/python3.8/site-packages (0.14.0)

In [2]:
from dotenv import load_dotenv # add this line
load_dotenv() # add this line

accesstoken = os.getenv('ACCESS_TOKEN')
accesstokensecret = os.getenv('ACCESS_TOKEN_SECRET')
apikey = os.getenv('API_KEY')
apisecretkey = os.getenv('API_SECRET_KEY')
print(accesstoken)

1027542862861426688-IbwHGihEBcGrCeaz9P5gZ0iczYlWwj

In [3]:
import pandas as pd
import numpy as np
import tweepy as tw

In [11]:
# Set up the auth tokens
auth = tw.OAuthHandler(apikey,apisecretkey)
auth.set_access_token(accesstoken, accesstokensecret)

api = tw.API(auth,wait_on_rate_limit = True)

In [12]:
search_words = '#coronavirus'
date_since = '2020-3-10'

In [13]:
tweets = tw.Cursor(api.search,q=search_words,since=date_since,lang="en").items(100)

In [14]:
tweets

In [16]:
tweet_details = [[tweet.geo,tweet.text,tweet.user.screen_name,tweet.user.location] for tweet in tweets]

In [17]:
tweet_df = pd.DataFrame(data=tweet_details,columns=['geo','text','user',"location"])

In [ ]:
pd.set_option('max_colwidth', 800)
tweet_df.head(20)

     geo  ...                      location
0   None  ...           Manchester, England
1   None  ...                        Zurich
2   None  ...                United Kingdom
3   None  ...
4   None  ...                 United States
5   None  ...           Sittingbourne, Kent
6   None  ...                    Chandigarh
7   None  ...                         India
8   None  ...                Nairobi, Kenya
9   None  ...  Salisbury and Southampton UK
10  None  ...                  Assam, India
11  None  ...                  South Africa
12  None  ...        KWT🇰🇼 DUB🇮🇪 LIV🇬🇧 AZ🇺🇸
13  None  ...                         INDIA
14  None  ...      Perth, Western Australia
15  None  ...           South East, England
16  None  ...
17  None  ...                    Texas, USA
18  None  ...
19  None  ...                  Sarasota, FL

[20 rows x 4 columns]

In [21]:
tweet_df.user.value_counts()

Series([], Name: user, dtype: int64)

In [23]:
tweet_df.location.value_counts()

Series([], Name: location, dtype: int64)

In [25]:
import re
def clean_tweets(text):
  text = re.sub("RT @[\w]*:", "", text)
  text = re.sub("@[\w]*", "", text)
  text = re.sub("https?://[A-Za-z0-9./]*", "", text)
  text = re.sub("\n", "", text)
  return text

In [26]:
tweet_df['text'] = tweet_df['text'].apply(lambda x: clean_tweets(x))

In [ ]:
tweet_df.head(20)

     geo  ...                      location
0   None  ...           Manchester, England
1   None  ...                        Zurich
2   None  ...                United Kingdom
3   None  ...
4   None  ...                 United States
5   None  ...           Sittingbourne, Kent
6   None  ...                    Chandigarh
7   None  ...                         India
8   None  ...                Nairobi, Kenya
9   None  ...  Salisbury and Southampton UK
10  None  ...                  Assam, India
11  None  ...                  South Africa
12  None  ...        KWT🇰🇼 DUB🇮🇪 LIV🇬🇧 AZ🇺🇸
13  None  ...                         INDIA
14  None  ...      Perth, Western Australia
15  None  ...           South East, England
16  None  ...
17  None  ...                    Texas, USA
18  None  ...
19  None  ...                  Sarasota, FL

[20 rows x 4 columns]

In [27]:
tweet_df.to_csv('tweets.csv')

In [28]:
!ls

Coronavirus_Dataset_Enrichment.ipynb  tweets.csv
tutorial-env			      Twitter_Analysis.ipynb

In [45]:
!python3 -m spacy download en_core_web_sm

Requirement already satisfied: en_core_web_sm==2.3.1 from https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz#egg=en_core_web_sm==2.3.1 in /home/chafer/.local/lib/python3.8/site-packages (2.3.1)
Requirement already satisfied: spacy<2.4.0,>=2.3.0 in /home/chafer/.local/lib/python3.8/site-packages (from en_core_web_sm==2.3.1) (2.3.2)
Requirement already satisfied: srsly<1.1.0,>=1.0.2 in /home/chafer/.local/lib/python3.8/site-packages (from spacy<2.4.0,>=2.3.0->en_core_web_sm==2.3.1) (1.0.2)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /home/chafer/.local/lib/python3.8/site-packages (from spacy<2.4.0,>=2.3.0->en_core_web_sm==2.3.1) (1.0.2)
Requirement already satisfied: catalogue<1.1.0,>=0.0.7 in /home/chafer/.local/lib/python3.8/site-packages (from spacy<2.4.0,>=2.3.0->en_core_web_sm==2.3.1) (1.0.0)
Requirement already satisfied: setuptools in /usr/lib/python3/dist-packages (from spacy<2.4.0,>=2.3.0->en_core_web_sm==2.3.1) (45.2.0)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /home/chafer/.local/lib/python3.8/site-packages (from spacy<2.4.0,>=2.3.0->en_core_web_sm==2.3.1) (4.50.2)
Requirement already satisfied: plac<1.2.0,>=0.9.6 in /home/chafer/.local/lib/python3.8/site-packages (from spacy<2.4.0,>=2.3.0->en_core_web_sm==2.3.1) (1.1.3)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/lib/python3/dist-packages (from spacy<2.4.0,>=2.3.0->en_core_web_sm==2.3.1) (2.22.0)
Requirement already satisfied: thinc==7.4.1 in /home/chafer/.local/lib/python3.8/site-packages (from spacy<2.4.0,>=2.3.0->en_core_web_sm==2.3.1) (7.4.1)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /home/chafer/.local/lib/python3.8/site-packages (from spacy<2.4.0,>=2.3.0->en_core_web_sm==2.3.1) (2.0.3)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /home/chafer/.local/lib/python3.8/site-packages (from spacy<2.4.0,>=2.3.0->en_core_web_sm==2.3.1) (3.0.2)
Requirement already satisfied: wasabi<1.1.0,>=0.4.0 in /home/chafer/.local/lib/python3.8/site-packages (from spacy<2.4.0,>=2.3.0->en_core_web_sm==2.3.1) (0.8.0)
Requirement already satisfied: blis<0.5.0,>=0.4.0 in /home/chafer/.local/lib/python3.8/site-packages (from spacy<2.4.0,>=2.3.0->en_core_web_sm==2.3.1) (0.4.1)
Requirement already satisfied: numpy>=1.15.0 in /home/chafer/.local/lib/python3.8/site-packages (from spacy<2.4.0,>=2.3.0->en_core_web_sm==2.3.1) (1.18.5)
✔ Download and installation successful
You can now load the model via spacy.load('en_core_web_sm')

In [61]:
import spacy
import en_core_web_sm
nlp = en_core_web_sm.load()

In [62]:
tweet_df['text'].apply(lambda x: [print("\tText : {}, Entity : {}".format(ent.text,ent.label_)) if (not ent.text.startswith('#')) else "" for ent in nlp(x).ents])

Series([], Name: text, dtype: object)

In [63]:
tweet_df['entities'] = tweet_df['text'].apply(lambda x: [(ent.text, ent.label_) if (not ent.text.startswith('#')) else "" for ent in nlp(x).ents])

In [ ]:
tweet_df.head(20)

     geo  ...                                                                          entities
0   None  ...              [(first, ORDINAL), (300, MONEY), (CashApp, PRODUCT), (Appl, PERSON)]
1   None  ...                                  [(Fed, ORG), (Jerome Powell, PERSON), (US, GPE)]
2   None  ...                                                                                []
3   None  ...                                       [, , (LCAW2020, MONEY), (Josué Ta, PERSON)]
4   None  ...                                                                                []
5   None  ...  [(Scottish, NORP), (Prof Devi Sridhar, PERSON), (C4 News, ORG), (Scotland, GPE)]
6   None  ...            [(ChinaVirus, PERSON), (today, DATE), (🇳, ORG), (coronavirus, PERSON)]
7   None  ...                                                                  [, (China, GPE)]
8   None  ...                                                                 [(COVID, PERSON)]
9   None  ...                                              [(PCD, ORG), (29/06/2020, CARDINAL)]
10  None  ...                                                                  [, (China, GPE)]
11  None  ...                                                [(14 June 2020, DATE), (ANC, ORG)]
12  None  ...                                              [(Arizona, PERSON), (30 days, DATE)]
13  None  ...                    [(86th Entry, ORG), (Coronavirus Poetry, ORG), (10, CARDINAL)]
14  None  ...                                                                                []
15  None  ...                        [(COVID19, PERSON), (the World Health Organisation', ORG)]
16  None  ...                                                  [(Cctv, ORG), (IndiaTh, PERSON)]
17  None  ...      [(Desantis, PERSON), (Florida &amp, ORG), (Trump, PERSON), (n’t s, PRODUCT)]
18  None  ...                                     [, (CovidVic, PERSON), (BLMAustralia, MONEY)]
19  None  ...      [(Desantis, PERSON), (Florida &amp, ORG), (Trump, PERSON), (n’t s, PRODUCT)]

[20 rows x 5 columns]

In [66]:
!pip3 install nltk

Collecting nltk
  Downloading nltk-3.5.zip (1.4 MB)
     |████████████████████████████████| 1.4 MB 105 kB/s
Requirement already satisfied: click in /usr/lib/python3/dist-packages (from nltk) (7.0)
Collecting joblib
  Downloading joblib-0.17.0-py3-none-any.whl (301 kB)
     |████████████████████████████████| 301 kB 5.5 MB/s
Collecting regex
  Downloading regex-2020.9.27-cp38-cp38-manylinux2010_x86_64.whl (675 kB)
     |████████████████████████████████| 675 kB 5.1 MB/s
Requirement already satisfied: tqdm in /home/chafer/.local/lib/python3.8/site-packages (from nltk) (4.50.2)
Building wheels for collected packages: nltk
  Building wheel for nltk (setup.py) ... done
  Created wheel for nltk: filename=nltk-3.5-py3-none-any.whl size=1434676 sha256=7731d25dcd36a33d076348ac4826dd3620ed2caa7ee61b4d04802f751afa8936
  Stored in directory: /home/chafer/.cache/pip/wheels/ff/d5/7b/f1fb4e1e1603b2f01c2424dd60fbcc50c12ef918bafc44b155
Successfully built nltk
Installing collected packages: joblib, regex, nltk
Successfully installed joblib-0.17.0 nltk-3.5 regex-2020.9.27

In [67]:
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /home/chafer/nltk_data...

True

In [71]:
sid = SentimentIntensityAnalyzer()

In [72]:
tweet_df['sentiment'] = tweet_df['text'].apply(lambda x: sid.polarity_scores(x))

In [ ]:
tweet_df.head(20)

     geo  ...                                                        sentiment
0   None  ...  {'neg': 0.111, 'neu': 0.791, 'pos': 0.099, 'compound': -0.0772}
1   None  ...            {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
2   None  ...            {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
3   None  ...      {'neg': 0.0, 'neu': 0.901, 'pos': 0.099, 'compound': 0.296}
4   None  ...     {'neg': 0.0, 'neu': 0.878, 'pos': 0.122, 'compound': 0.3612}
5   None  ...            {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
6   None  ...     {'neg': 0.154, 'neu': 0.846, 'pos': 0.0, 'compound': -0.508}
7   None  ...       {'neg': 0.0, 'neu': 0.78, 'pos': 0.22, 'compound': 0.4215}
8   None  ...            {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
9   None  ...            {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
10  None  ...            {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
11  None  ...            {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
12  None  ...            {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
13  None  ...            {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
14  None  ...   {'neg': 0.089, 'neu': 0.805, 'pos': 0.106, 'compound': 0.1027}
15  None  ...    {'neg': 0.157, 'neu': 0.843, 'pos': 0.0, 'compound': -0.6249}
16  None  ...            {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
17  None  ...      {'neg': 0.12, 'neu': 0.88, 'pos': 0.0, 'compound': -0.3818}
18  None  ...    {'neg': 0.109, 'neu': 0.891, 'pos': 0.0, 'compound': -0.1511}
19  None  ...      {'neg': 0.12, 'neu': 0.88, 'pos': 0.0, 'compound': -0.3818}

[20 rows x 6 columns]

In [73]:
import os

In [74]:
import geopy

In [ ]:
dir (geopy)

['ArcGIS',
 'AzureMaps',
 'Baidu',
 'Bing',
 'DataBC',
 'GeoNames',
 'GeocodeEarth',
 'GeocodeFarm',
 'GoogleV3',
 'Here',
 'IGNFrance',
 'LiveAddress',
 'Location',
 'MapBox',
 'Nominatim',
 'OpenCage',
 'OpenMapQuest',
 'Pelias',
 'Photon',
 'PickPoint',
 'Point',
 'TomTom',
 'What3Words',
 'Yandex',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 'compat',
 'exc',
 'format',
 'geocoders',
 'get_geocoder_for_service',
 'location',
 'point',
 'units',
 'util']

In [83]:
from geopy.geocoders import Nominatim

In [86]:
nom = Nominatim(user_agent="My_Apllication")

In [87]:
tweet_df["coordinates"]= tweet_df["location"].apply(nom.geocode)

In [ ]:
tweet_df.head(20)

     geo  ...                                                                                                            coordinates
0   None  ...                (Manchester, Greater Manchester, North West England, England, United Kingdom, (53.4794892, -2.2451148))
1   None  ...                                                  (Zürich, Bezirk Zürich, Zürich, Switzerland, (47.3723941, 8.5423328))
2   None  ...                                                                             (United Kingdom, (54.7023545, -3.2765753))
3   None  ...                                                                                                                   None
4   None  ...                                                                            (United States, (39.7837304, -100.4458825))
5   None  ...                          (Sittingbourne, Kent, South East, England, ME10 4AL, United Kingdom, (51.3397366, 0.7342319))
6   None  ...                                                                          (Chandigarh, India, (30.7194022, 76.7646552))
7   None  ...                                                                                      (India, (22.3511148, 78.6677428))
8   None  ...                                                                             (Nairobi, Kenya, (-1.2832533, 36.8172449))
9   None  ...  (Salisbury Street, The Polygon, Southampton, South East, England, SO15 2AE, United Kingdom, (50.9113743, -1.4050786))
10  None  ...                                                                               (Assam, India, (26.4073841, 93.2551303))
11  None  ...                                                                               (South Africa, (-28.8166236, 24.991639))
12  None  ...                                                                                                                   None
13  None  ...                                                                                      (India, (22.3511148, 78.6677428))
14  None  ...                                                (Perth, Western Australia, 6000, Australia, (-31.9527121, 115.8604796))
15  None  ...                   (England, Arvika kommun, Värmlands län, Svealand, Sverige, (59.743273900000005, 12.711520968966536))
16  None  ...                                                                                                                   None
17  None  ...                                                           (Texas, United States of America, (31.8160381, -99.5120986))
18  None  ...                                                                                                                   None
19  None  ...                              (Sarasota, Sarasota County, Florida, United States of America, (27.3364347, -82.5306527))

[20 rows x 7 columns]

In [91]:
tweet_df['latitude'] = tweet_df['coordinates'].apply(lambda x: x.latitude if x != None else None)

In [92]:
tweet_df['longitude'] = tweet_df['coordinates'].apply(lambda x: x.longitude if x != None else None)

In [ ]:
tweet_df.head(20)

     geo  ...   longitude
0   None  ...   -2.245115
1   None  ...    8.542333
2   None  ...   -3.276575
3   None  ...         NaN
4   None  ... -100.445882
5   None  ...    0.734232
6   None  ...   76.764655
7   None  ...   78.667743
8   None  ...   36.817245
9   None  ...   -1.405079
10  None  ...   93.255130
11  None  ...   24.991639
12  None  ...         NaN
13  None  ...   78.667743
14  None  ...  115.860480
15  None  ...   12.711521
16  None  ...         NaN
17  None  ...  -99.512099
18  None  ...         NaN
19  None  ...  -82.530653

[20 rows x 9 columns]